@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  /* border-radius: 22px; */
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
/* common stuff */
.common_section_padding {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}
/* basic css */
.mobile_header{
  display: none;
}
#banner {
  background-image: url("../image//baikang-yuan-6JgpJTUJphI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat; /* why */
  width: 100%;
  height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  background: rgba(5, 13, 24, 0.568);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1080px;
  margin: auto; /* why */
}
.logo {
  font-size: 29px;
  color: #d2d2d2;
  align-items: center;
  display: flex;
}
.logo img {
  height: 35px;
}
.conact_mail {
  display: flex;
  padding-right: 20px;
  cursor: pointer;
}
.header1st {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 40% 27% 33%;
}
.mail {
  padding-left: 20px;
}
.customer-icon {
  color: #ffc000;
}
.customer-wri {
  color: #ffffff;
}
.customer span,
.mail span {
  font-size: 14px;
}
.mail_icon {
  color: #ffc000;
}
.mail_wri {
  color: #ffffff;
}
.social-login {
  color: #ffffff;
  /* cursor: pointer; */
  text-align: right;
}
.social-login span {
  /* why */
  padding: 0px 10px;
}
.social-login span i {
  padding-left: 20px;
  font-size: 14px;
}

.header2nd {
  width: 100%;
  height: 91px;
  background-color: #ffc000;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 44px;
  border-top-left-radius: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header2nd .yellow_part ul {
  display: flex;
  padding-left: 50px;
}
.header2nd .yellow_part ul li {
  list-style-type: none;
  display: flex;
  padding: 20px;
  font-weight: 700;
  align-items: center;
}
.header2nd .yellow_part ul li a {
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
}
.mobile {
  background-color: #111111;
  height: 100%;
  width: 210px;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  color: #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.mobile .phone {
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: 2px;
  color: white;
}
.call-icon i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 176px;
  top: 17px;
  color: #f8c227;
  font-size: 17px;
}
.main_banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inner_banner {
  position: absolute;
  top: 40%;
  text-align: center; /* unique */
}
.inner_banner h1 {
  font-size: 63px;
  font-weight: 900;
  color: #d2d2d2;
  padding-bottom: 21px;
  letter-spacing: 3px;
  line-height: 71px;
}
.inner_banner p {
  color: #acacac;
  padding-bottom: 40px;
  font-weight: bold;
  line-height: 35px;
  font-size: 20px;
  letter-spacing: 1px;
}
.inner_banner a {
  background: #ffc000;
  text-decoration: none;
  padding: 20px 40px;
  color: #111111;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  border-radius: 28px;
}
.inner_banner a:hover {
  background: #ffc000;
  transition: 0.5 all ease;
}
.left_arrow,
.right_arrow {
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
}
.active_arrow i {
  color: #ffc000;
}

.left_arrow {
  top: 47%;
  position: absolute;
  left: 130px;
}
.right_arrow {
  top: 47%;
  position: absolute;
  right: 130px;
}
/* booking section */

/* .con{
    padding-top: 106px;
} */

.booking_section {
  background-color: #111111;
}
.booking_wrap {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 5%;
}
.grp {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 6%;
  margin-bottom: 20px;
}
.booking_box input {
  background-color: #242424;
}
.booking_box input,
.booking_box button {
  height: 65px;
  border-radius: 35px;
  border: 0;
}

.booking_box .grp ::placeholder {
  color: rgb(185, 180, 180) !important;
}
.booking_box button {
  background-color: #ffc000;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}
.booking_box input:focus,
.booking_box input:active,
.booking_box input:focus-visible {
  border: 0;
  outline: 0;
}
.booking_box input::placeholder {
  color: rgb(185, 180, 180) !important;
  font-weight: 700;
}
.booking_box input[type="date"] {
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(185, 180, 180) !important;
  font-weight: 700;
}
input::-webkit-calendar-picker-indicator {
  background-color: #ffc000;
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  right: -20px;
}
.booking_text h2 {
  color: #d2d2d2;
  font-size: 48px;
  padding-bottom: 25px;
}
.booking_text h5 {
  color: #acacac;
  padding-bottom: 15px;
  padding-top: 10px;
  font-size: 14px;
}
.booking_text p {
  font-size: 14px;
  color: #acacac;
  font-weight: 600;
  line-height: 30px;
}
.booking_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking_box input {
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  font-weight: 600;
}
.circle {
  background-color: #ffc000;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 0;
}

/* <!-- Traveling Section start--> */
.common_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.heading_text p {
  font-size: 16px;
  font-weight: 700;
  color: #a8a8a8;
  padding-top: 18px;
  padding-bottom: 15px;
}
.heading_text h2 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 51px;
  padding-bottom: 50px;
}
/* Traveling Section end */

.anywheer_info {
  display: grid;
  grid-template-columns: 46% 46%;
  grid-gap: 8%;
}
.left_part img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.right_part {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 50px;
}
.sec1_text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 210px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sec1_vdo {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #404040; */
  height: 210px;
  background-image: url('../image/2.jpg');
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.section2 {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #a8a8a8;
}
.section3 {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
.call_icon_wri {
  display: flex;
  align-items: center;
}

.call_icon {
  display: flex;
  color: #ffc000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 18px;
  background: black;
}
.sec_3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.call_wri {
  font-size: 14px;
  color: #a8a8a8;
  font-weight: 500;
  line-height: 24px;
}
.number {
  font-size: larger;
  font-weight: 500;
  font-size: 17px;
  color: #f8c227;
  color: #f8c227;
}
.number2 {
  font-size: larger;
  font-weight: 700;
  font-size: 17px;
  color: black;
}

/* <!-- number speak start */
.num_sp {
  display: flex;
  flex-direction: column;
}
.number_speak {
  background-color: #f3f3f3;
}
.number_speak_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
}

.number_speak_heading p {
  padding-top: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #a8a8a8;
}

.number_speak_heading h2 {
  padding-top: 6px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2px;
}
.four_squre {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 4%;
  border-radius: 1;
}
.square {
  padding: 49px 0px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}

.square i {
  font-size: 47px;
  color: #ffc000;
}
.square h2 {
  padding-top: 13px;
  font-size: 48px;
  font-weight: 800;
}
.square p {
  font-size: 14px;
  font-weight: 600;
  color: #a8a8a8;
  padding-top: 13px;
}
/* number speake end  */

/* book taxi now start  */

.book_taxi {
  background-color: #ffc000;
}
.book_taxi_text_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book_taxi_text p {
  font-size: 16px;
  font-weight: 800;
}
.book_taxi_text h2 {
  font-size: 46px;
  font-weight: 800;
  font-weight: 700;
}

.book_taxi_button button {
  color: #d2d2d2;
  background-color: black;
  padding: 23px 47px;
  border-radius: 35px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

/* book taxi now end */

/* <!-- Choose taxi start --> */
.choose_taxi_buttons a {
  text-decoration: none;
}
.chooose_taxi_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 38px;
}
.chooose_taxi_heading p {
  font-size: medium;
  font-weight: 700;
  color: #a8a8a8;
  padding-top: 13px;
}
.chooose_taxi_heading h2 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 51px;
  padding-bottom: 0px;
}
.choose_taxi_buttons a {
  background-color: #f3f3f3;
  text-decoration: none;
  margin-right: 23px;
  padding: 12px 23px;
  color: #a8a8a8;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-radius: 30px;
  letter-spacing: 2px;
}
.Hybrid {
  background-color: #ffc000 !important;
  color: #111111 !important;
}
.book_taxi_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  padding-bottom: 0px;
}
.choose_taxi_buttons {
  padding-bottom: 59px;
  text-align: center;
}
.car_logo {
  /* padding: 10px 0px; */
  text-align: center;
}
.model_name {
  padding: 20px 0px;
}
.model_name h4 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.car {
  border: 2px #f3f3f3 solid;
  border-radius: 11px;
  padding-bottom: 27px;
}
.book_taxi_wrap_button button {
  background: #f3f3f3;
  color: #a8a8a8;
  border: 0;
  padding: 13px 49px;
  font-size: medium;
  font-weight: 700;
  border-radius: 23px;
}
.car_image {
  padding-top: 23px;
}
.second_car {
  border: 2px #ffc000 solid !important;
}
.first_row,
.second_row,
.third_row {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 5%;
  padding-left: 61px;
  margin-bottom: 15px;
}
.book_taxi_wrap_button {
  text-align: center;
}
.car_details {
  font-size: 14px;
  font-weight: 500;
}
.second_button button {
  background-color: #ffc000 !important;
  color: #111111 !important;
}

/* <!-- Choose taxo end --> */

/* <!-- why chooose us start--> */
.why_choose_us {
  background-color: #111111;
}

.why_choose_us_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
}
.why_choose_us_heading_text h2 {
  color: #d2d2d2;
}

.why_choose_us_2nd_part {
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  /* grid-gap: 5%; */
}
.why img {
  padding-bottom: 10px;
  padding-bottom: 29px;
}
.why h4,
.why h5 {
  color: #d2d2d2;
}
.why p {
  color: #a8a8a8;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.why h4 {
  font-size: 18px;
  padding-bottom: 15px;
}
.why_2nd_part h5 {
  color: #ffc000;
  letter-spacing: 2px;
}
.why_choose_us_2nd_part li {
  border-right: #2b2b2b 1px solid;
  /* padding-right: 69px; */
  list-style-type: none;
  justify-content: center;
  text-align: center;
}
.why_choose_us_2nd_part li:last-child {
  border: none;
}

/* <!-- why chooose us end--> */

/* <!-- check taxi fares start --> */
.check_taxi_farse_section2 {
  display: grid;
  width: 100%;
  grid-template-columns: 48.75% 48.75%;
  grid-gap: 2.5%;
}

.c_taxi_f_left,
.c_taxi_f_right {
  background-color: #ffc000;
  border-radius: 8px;
  padding: 77px 74px;
}

.car_logo_text {
  display: flex;
  justify-content: center;
  border-bottom: .5px #f2b075 solid;
  padding-bottom: 35px;
  height: 74px;
}
.check_car_logo {
  font-size: 43px;
  padding-right: 37px;
}
.p_h_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
}
.check_car_text p {
  font-size: 15px;
  font-weight: 600;
}
.p_h_text p {
  font-size: 15px;
  font-weight: 600;
}
.p_h_text h6 {
  font-size: 14px;
  font-weight: 800;
}
.check_car_text h5 {
  padding-bottom: 11px;
  font-size: 24px;
  font-weight: 800;
}
.p_h6 {
  padding-top: 35px;
}
.check_button {
  text-align: center;
  padding-top: 35px;
}
.check_button button {
  background: #111111;
  color: #d2d2d2;
  padding: 14px 45px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 23px;
}

.check_section3 {
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  font-weight: 600;
  color: #a8a8a8;
  padding-top: 53px;
}
/* <!-- check taxi fares end --> */

/* <!-- what they say start  --> */
.what_they_say {
  background-color: #111111;
  background-image: url('../image/1920X100.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.what_they_say_overlay{
  background: rgba(5, 13, 24, 0.568);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.what_they_say p,
.what_they_say h2 {
  color: #d2d2d2;
}
.what_they_say_image,
.what_they_say_text {
  text-align: center;
}
.what_they_say_image {
  display: flex;
  justify-content: center;
}
.what_they_say_image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px;
}
.james a {
  text-decoration: none;
}
.james a {
  text-align: center;
  color: #ffc000 !important;
}
.what_they_say_text p {
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  padding: 40px 0px;
}
.james {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
/* <!-- what they say end-- --> */

/* <!-- news & updates start  --> */
.new_updates_wrap {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 6%;
}

.new_updates_left_section1 img {
  width: 100%;
  border-radius: 6px;
  padding-bottom: 24px;
}
.new_updates_left_section2 {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.new_updates_section2_button button {
  font-size: 11px;
  background: #ffc000;
  font-weight: 800;
  padding: 10px 18px;
  margin-right: 14px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 19px;
}
.new_updates_section2_text small {
  font-size: 13px;
  font-weight: 700;
  color: #a8a8a8;
}
.new_updates_section3_text h5 {
  font-size: 26px;
  font-weight: 800;
  line-height: 36px;
  padding-bottom: 26px;
}
.new_updates_section3_text p {
  font-size: 14px;
  line-height: 31px;
  font-weight: 500;
  color: #a8a8a8;
}
.new_updates_right_section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.new_updates_right_section1_left {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  background-color: #f3f3f3;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 40px;
}
.new_updates_right_section1_left h3 {
  padding-top: 30px;
  line-height: 30px;
  font-weight: 900;
}
.new_updates_right_section1_left p {
  padding-top: 20px;
  font-size: 13px;
  font-weight: 700;
  color: gray;
}
.new_updates_right_section1_right img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.new_updates_right_section1_left button {
  font-size: 11px;
  background: #ffc000;
  font-weight: 800;
  padding: 10px 18px;
  margin-right: 14px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 19px;
}
/* .new_updates_right_section1_left{
    display: flex;
    flex-direction: column;
} */
.margin-top-30 {
  margin-top: 30px;
}

/* <!-- news & updates end  --> */

/* <!-- call now and book start  -->  */

.call_now_main {
  background-color: #ffc000;
}
.call_now_wrap {
  text-align: center;
}
.call_now_wrap p {
  font-size: 15px;

  font-weight: 700;
}
.call_now_wrap h2 {
  font-size: 42px;

  font-weight: 800;

  line-height: 50px;

  padding-top: 10px;

  padding-bottom: 45px;
}
.call_now_wrap button {
  border: 0;

  background: black;

  color: #d2d2d2;

  padding: 18px 42px;

  font-size: 16px;

  font-weight: 600;

  border-radius: 33px;
}

/* <!-- call now and book end  --> */

/* <!-- 1st page last section start  --> */
.last {
  background-color: #111111;
}

.last_coloum_wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #1f1f1f solid;
  padding-bottom: 89px;
}
.last_coloum1 h6,
.last_coloum2 h6,
.last_coloum3 h6,
.last_coloum4 h6 {
  color: #d2d2d2;
  padding-bottom: 31px;
  font-size: 16px;
  font-weight: 700;
}
.last_coloum1 p,
.last_coloum2 li,
.last_coloum3 p,
.last_coloum4 p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  color: #a8a8a8;
}

.call_icon_wri_last {
  color: #d2d2d2;
}

.social_login_last {
  color: #d2d2d2;
  font-size: 15px;
  /* padding-right: 1px; */
}

.twitter {
  color: #ffc000 !important;
}
.last_section_padding {
  padding-top: 91px;
}
.last_coloum2 ul li {
  list-style-type: none;
  padding-bottom: 8px;
}

.last_coloum1 p {
  padding-bottom: 22px;
}
.mail_last_section {
  padding-top: 23px;
  padding-bottom: 4px;
}
.call_icon_last {
  color: #ffc000;
}
.last_coloum4 p {
  padding-bottom: 29px;
}

.last_coloum4 input {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 800;
  color: #d2d2d2;
}
.last_coloum4 input {
  height: 59px;
  width: 314px;
  border-radius: 31px;
  border: 0;
}
.last_coloum4 input {
  background-color: #404040;
  border: 0;
  outline: 0;
}

.social_login_last span {
  padding-right: 27px;
}
.logo_terms_policy p,
.terms p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  color: #a8a8a8;
}
.logo_terms_policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
}
.logo_terms_policy_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms {
  display: flex;
  justify-content: space-between;
}
.logo_terms_policy_img p {
  padding-left: 23px;
}

.terms_2ndline {
  padding-left: 22px;
}
.sec1_vdo i{
  background: #ffc000;
  height: 50px;
  width: 49px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1_vdo {
  position: relative;
}
.sec_vdo_overlay{
  position: absolute;
  background: rgba(5, 13, 24, 0.568);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.got_btn{
  background-color: #f8c227;
  position: absolute;
  right: 13px;
  top: 16%;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.newsletter_form{
  position: relative;
}



/* <!-- 1st page last section end  --> */
