@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* basic css */
.container{
    max-width: 1000px;
    margin: auto;
}

/* css banner start */

#banner{
    /* background-image: url('../image/baikang-yuan-6JgpJTUJphI-unsplash.jpg'); */
    /* background-image: url('../image/pexels-kai-pilger-462867.jpg'); */
       /* background-image: url('../image/eric-nopanen-EufBdG-ZQMs-unsplash.jpg'); */
    /* background-image: url('../image/eric-nopanen-EufBdG-ZQMs-unsplash.jpg'); */
    /* background-image: url('../image/waldemar-kYbYIWdJRh0-unsplash.jpg'); */
    background-image: url('../image/james-genchi-llJq2PcIuEE-unsplash.jpg');


}

#banner{
    width: 100%;
    height: 100vh ;
    background-size: cover;
}
#banner::after{
    content: "";
    background: rgb(0 0 0 / 47%);
    position: absolute;
    inset: 0;
    z-index: 2;
}
.ee{
    display: flex;
    position: absolute;
    left: 321px;
}
.qq{
    padding: 0px;
    display: flex;
    position: absolute;
    left: 18px;
}
.aa{
    display: flex;
}
.social span{
    padding-right:10px;
}

.ss{
    display: flex;
    justify-content: space-between;
    padding: 9px;
    color: white;
    align-items: center;
}

.header2nd{
    background-color: rgb(223, 174, 11);
    height: 41px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 800px;
    display: flex;
    position: absolute;
    right: 208px;
    top: 90px;
    align-items: center;
}

.list-item ul li{
    list-style-type: none;
    padding-right: 29px;
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;                                                                                   
}

.list-item ul li a{
    text-decoration: none;
    display: flex;
    padding-right: 10px;
}
.list-item ul{
    display: flex;
}
.con{
    background-color: black;
    height: 100%;
    width: 203px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    position: absolute;
    right: 0px;
    color: white;
    font-size: small;
    align-items: center;
    justify-content: center;
}
.zz{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    right: 187px;
}
.list-item{
    padding: 33px;
}

/* css banner end */